:root {
    --content-bg-col: var(--color-gray-200);
    --content-border-col: var(--color-gray-300);

    --text-main: var(--color-black);

    --button-bg-col: var(--color-gray-200);
    --button-bg-hover-col: var(--color-gray-300);
    --button-bg-active-col: var(--color-gray-400);
    --button-bg-disabled-col: var(--color-gray-500);
    --button-border-col: var(--color-gray-400);

    --input-bg-col: var(--color-white);
    --input-border-col: var(--color-black);
    --input-bg-hover-col: var(--color-white);
    --input-bg-active-col: var(--color-white);

    --codeblock-bg-col: var(--color-gray-300);
    --codeblock-tag-bg-col: var(--color-gray-200);
    --codeblock-border-col: var(--color-gray-400);

    --navbar-bg-col: var(--color-gray-300);
    --navbar-button-bg-col: var(--color-gray-300);
    --navbar-button-bg-hover-col: var(--color-gray-400);
}

[data-theme="dark"] {
    --content-bg-col: var(--color-gray-950);
    --content-border-col: var(--color-gray-800);

    --text-main: var(--color-white);

    --button-bg-col: var(--color-gray-950);
    --button-bg-hover-col: var(--color-gray-800);
    --button-bg-active-col: var(--color-gray-800);
    --button-bg-disabled-col: var(--color-gray-700);
    --button-border-col: var(--color-gray-800);

    --input-bg-col: var(--color-gray-800);
    --input-bg-hover-col: var(--color-gray-900);
    --input-bg-active-col: var(--color-black);

    --codeblock-bg-col: var(--color-gray-900);
    --codeblock-tag-bg-col: var(--color-gray-800);
    --codeblock-border-col: var(--color-gray-600);

    --navbar-bg-col: var(--color-gray-800);
    --navbar-button-bg-col: var(--color-gray-800);
    --navbar-button-bg-hover-col: var(--color-gray-600);
}